.walletConnectButton {
    background-color: #2bd531;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .walletConnectButton:hover {
    background-color: #45a049;
  }
  