.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #fff;
}

.description a {
    color: #fff;
    text-decoration: underline;
}

.description a:hover {
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    color: #000;
    transition: transform 0.25s ease-in-out;
}

.gradient {
    background: linear-gradient(90deg, #f3f3f3 0%, #ffffff 100%);

}